.heading {
  font-size: 20px;
  color: rgb(7, 7, 113);
}

.description {
  padding: 10px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  border-radius: 5px;
  width: 80%;
}
.link {
  text-decoration: none;
}
