* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* styles.css */
body {
  margin: 0;
  padding: 0;
  background-image: url('../public/images/flowerimg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Arial', sans-serif;
}

.container {
  text-align: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent white background for better readability */
  border-radius: 10px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 765px) {
  .container {
    width: 95%;
  }
}